.about__container {
    display: grid;
    grid-template-columns: 35% 50%;
    gap: 15%;
}
.about__me-image {
    height: 20rem;
    width: 120%;
    overflow: hidden;
    transform: rotate(10deg);
    margin-bottom: -2rem;
    transition: var(--transition);
}
.about__me {
    width: 100%;
    aspect-ratio: 1/1;
    clip-path: polygon(50% 0%, 90% 20%, 100% 60%, 75% 100%, 25% 100%, 0% 60%, 10% 20%);
    background: linear-gradient(
        45deg, 
        transparent, 
        var(--color-bg), 
        transparent
        );
    display: grid;
    place-items: center;

}

.about__me-image:hover {
    transform: rotate(0);
}

.about__cards {
    display: grid;
    grid-template-columns: repeat(3,1fr);
    gap: 1.5rem;
}
.about__card {
    background: var(--color-bg-variant);
    border: 1px solid transparent;
    border-radius: 1rem;
    padding: 2rem;
    text-align: center;
    transition: var(--transition);
}
.about__card:hover {
    background: transparent;
    border-color: var(--color-primary-variant);
    cursor: default;
}
.about__icon {
    color: var(--color-primary);
    font-size: 1.4rem;
    margin-bottom: 1rem;
}
.about__card h5{
    font-size: 0.95rem;
}
.about__card small {
    font-size: 0.7rem;
    color: var(--color-light);
}
.about__content p {
    margin: 2rem 0 2.6rem;
    color: var(--color-light);
}
/*=============== MEDIA QUERIES (LARGE DEVICES)   =====================*/
@media screen and (min-width: 1500px) {
    .about__me-image {
        height: 36rem;
        width: 38rem;
        overflow: hidden;
        transform: rotate(10deg);
        margin-bottom: -10rem;
        transition: var(--transition);
    }
    .about__content p {
        margin: 6rem 0 2.6rem;
        color: var(--color-light);
    }
    .about__cards small {
        display: grid;
        grid-template-columns: repeat(3,1fr);
        gap: 1.5rem;
        margin-top: 1rem;
    }
    .about__card h5{
        font-size: 2rem;
    }
    div.about__cards{
        margin-top: 5rem;
    }
    
}

/*=============== MEDIA QUERIES (ANOTHER MEDIUM DEVICES)   =====================*/
@media screen and (max-width: 1400px) {
    .about__me-image {
        height: 25rem;
        width: 110%;
        overflow: hidden;
        transform: rotate(10deg);
        margin-bottom: -5rem;
        transition: var(--transition);
    }}

/*=============== MEDIA QUERIES (MEDIUM DEVICES)   =====================*/
@media screen and (max-width: 1024px) {
    .about__container{
        grid-template-columns: 1fr;
        gap: 0;
    }
    .about__me {
        width: 60%;
        margin: 2rem auto 4rem;
    }
    .about__content p {
        margin: 1rem 0 1.5rem;
    }
    .btn-primary {
        text-align: center;
    }
}
/*=============== MEDIA QUERIES (SMALL DEVICES)   =====================*/
@media screen and (max-width: 600px) {
    .about__me {
        width: 100%;
        margin: 0 auto 3rem;
        height: -10rem;
    }
    .about__me-image {
        width: 100%;
        height: 23rem;
        margin-top: 2.5rem;
        
        
    }
    .about__cards {
        grid-template-columns: 1fr 1fr;
        gap: 1rem;
    }
    .about__content {
        text-align: center;
    }
    .about__content p {
        margin: 1.5rem 0;
    }
    .about {
        margin-top: 10rem;
        
    }

}